  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <h1>Invoice Info</h1>
     <table class="table info-background">
      <tr>   
       <th class="tr-th-size">Product Name</th>
       <th>Product price</th>
       <th>Quintity</th>
     </tr>
     <% @order.carted_products.each do |carted_product| %>
     <tr class="order_info">
      <td><%= carted_product.product.name %></td>
      <td><%= carted_product.product.price %></td>
      <td><%= carted_product.quantity %></td>
    </tr>
    <% end %>
  </table>

  <ul>
    <li>Subtotal - <%= @order.subtotal  %></li>
    <li>Tax - <%= @order.tax %> </li>
    <li> Total - <%= @order.total  %></li>
  </ul>

  </div>
</div>



  