  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Shoping Cart</h1>
     <table class="table info-background">
      <tr>   
       <th>Product Name</th>
       <th>Product price</th>
       <th>Quintity</th>
       <th>Image</th>
       <th>Delete Item</th>
     </tr>
     <% @order.carted_products.each do |carted_product| %>
     <tr>
      <td><%= carted_product.product.name %></td>
      <td><%= carted_product.product.price %></td>
      <td><%= carted_product.quantity %></td>
      <td><img src="<%= carted_product.product.images.first.url%>"></td>
      <td> <%= link_to "Remove Item", "/carted_products/#{carted_product.id}", method: :delete %></td>
    </tr>
    <% end %>
  </table>
    <%= link_to "Confirm and Buy!", '/orders', method: :patch  %>
  </div>
</div>