<ul>
  <li><%= @product.name %></li>
  <li><%= @product.description %></li>
  <li><%= @product.price %>$</li>
    <li>tax <%= @product.tax%></li>
        <li>total-<%= @product.total%></li>

  <li><img class="show" src="<%= @product.image %>"></li>
  
  <%= link_to "Delete", "/products/#{@product.id}", method: :delete %>
  <%= link_to 'Edit' , "/products/#{@product.id}/edit"%>
</ul>

