  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="order-show">
          <ul>
            <% @product.categories.each do |category| %>
          <li>Categories:</li>
          <ul>
            <li><%= category.name %></li>
            <% end %>
          </ul>
          <li>Name: <%= @product.name %></li>
          <li>Description: <%= @product.description %></li>
          <li>Supplier- <%= @product.supplier.name%></li>
          <li>Price: <%= @product.price %>$</li>
          <li>Tax: <%=number_to_currency(@product.tax)%></li>
          <li>Total:<%= @product.total%></li>
          <li>Status: <%= @product.availability%></li>
          <% if current_user && current_user.admin %>

          <!--   <li><img class="show" src=""></li> -->
          <li><%= link_to "Delete", "/products/#{@product.id}", method: :delete %></li>
          <li><%= link_to 'Edit' , "/products/#{@product.id}/edit"%></li>
          <li><%= link_to "Add Image", '/images/new' %></li>
          <% end %>
        </div>

         <% if @carted_products && @carted_products.errors.any? %>
           <ul>
             <% @carted_products.errors.full_message.each do |message| %>
               <li>message</li>
             <% end %>
           </ul>
         <% end %>

        <div class="quantity">
        <% if current_user  %>
          <%= form_tag '/carted_products' , method: :post do %>
            <div>
             <%= label_tag :quantity %>
             <%= text_field_tag :quantity %>
            </div>

            <div>
             <%= hidden_field_tag :product_id , "#{@product.id}"  %>
            </div>

            <div>
             <%= submit_tag 'Add to Cart' %>
            </div>
           <% end %>
           <% else %>
           <p>Login Requierd</p>
        <% end %>
       </div>
     </div>
      
      <div class="col-md-4">
        <% @product.images.each do |image| %>
        <img src="<%= image.url %>">
        <% if current_user && current_user.admin %>
        <%= link_to 'Delete', "/images/#{image.id}", method: :delete %>
        <% end %>
        <%end %>
     </div>

      <div class="colm-md-1">

    </div>

   </ul>

